<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JSON Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.prioritybit.babynanny</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nannyme</string>
			</array>
		</dict>
	</array>
        <key>NSLocationTemporaryUsageDescriptionDictionary</key>
        <dict>
                <key>ActionLoggingPreciseAccuracy</key>
                <string>We request precise location temporarily so action pins are accurate within about 50 meters.</string>
        </dict>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>We use your location to show where your baby's actions were logged on the map.</string>
        <key>NSUserNotificationUsageDescription</key>
        <string>Nanny &amp; Me uses notifications to remind you about your baby's care activities.</string>
        <key>NSCameraUsageDescription</key>
        <string>The camera lets you scan QR codes to share caregiver profiles.</string>
</dict>
</plist>
